html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    position: relative;
    background-image: url('../assets/background.webp');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    height: 100%;
    user-select: none;
}

h1 {
    font-size: 48px;
    transition: all 0.4s;
    color: black;
    -webkit-text-fill-color: $font-color; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: sans-serif;
    text-align: center;
    max-width: 80vw;
    margin: 48px auto;
}

h2 {
    font-size: 32px;
    transition: all 0.4s;
    color: black;
    -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    max-width: 80vw;
    margin: 48px auto;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    width: 100%;
    justify-content: center;
}

.loadingbar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
    width: 100vw;
    height: 128px;
    background-image: url('../assets/ripped-vertical.png');
    background-size: 100%;
    background-position: center bottom 20px;
    background-repeat: no-repeat;
    text-align: center;

    span {
        text-align: center;
        opacity: 0.5;
        font-weight: bold;
        color: #000;
        font-size: 28px;
        margin-bottom: 24px;
    }
}

.button {
    border-radius: 8px;
    font-size: 32px;
    padding: 16px 48px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;

    transition: all 0.5s;
    outline: none;
    max-width: 300px;
    margin: auto;

    &:hover,
    &:not(:disabled) {
        cursor: pointer;
    }

    &.button-prm {
        background-color: $color-green-dark;
        border: 4px solid $color-green-light;

        &:hover,
        &:disabled {
            background-color: $color-green-light;
        }
    }

    &.button-sec {
        background-color: $color-red-dark;
        border: 4px solid $color-red-light;

        &:hover,
        &:disabled {
            background-color: $color-red-light;
        }
    }

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.input {
    border-radius: 8px;
    border: 4px solid #000;
    background-color: #fff;
    font-size: 48px;
    outline: none;
    text-align: center;
    margin: 32px 0;
    padding: 4px 8px;
}

.error-message {
    font-size: 24px;
    transition: all 0.4s;
    color: black;
    -webkit-text-fill-color: $color-red-light; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    max-width: 80vw;
    margin: 22px auto;
}

.player-profile {
    position: relative;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    outline: #000;
    border: 4px solid #000;

    .fa-check {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: 96px;
        transition: all 0.4s;
        color: $color-green-dark;
        -webkit-text-fill-color: $color-green-light; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: $color-green-dark;
        text-align: center;
        max-width: 80vw;
    }

    &:before {
        position: absolute;
        left: -14px;
        top: -14px;
        content: ' ';
        background-color: $color-blue-light;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 4px solid #000;
        z-index: -1;
    }

    img {
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .player-name {
        font-size: 42px;
        font-weight: bold;
        transition: all 0.4s;
        color: black;
        -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        max-width: 80vw;
        margin-top: 16px;
    }
}
