@import './variables.scss';
@import './default.scss';
@import './waiting-for-players.scss';

.player-answers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommended-answers {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: center;

    .answer {
        border-radius: 8px;
        border: none;
        font-size: 36px;
        transition: all 0.4s;
        background-color: #000;
        color: #fff;
        padding: 16px 48px;
        font-weight: 600;
        font-family: sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin: 8px;
        cursor: pointer;
    }
}
